
  <!--Page Title-->
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <div id="page-title">
    <h3>{{model.header}}</h3>
  </div>
  <div id="page-content">
    {{inner-html model.body}}
    <hr/>
    <pre>{{object-to-pre model}}</pre>

  </div>



