<div id="container" class="effect mainnav-lg">

  <!--NAVBAR-->
  <!--===================================================-->
  {{nav-bar}}
  <!--===================================================-->
  <!--END NAVBAR-->

  <div class="boxed">

    <!--CONTENT CONTAINER-->
    {{outlet}}

    <!--MAIN NAVIGATION-->
    <!--===================================================-->
    {{nav-container}}
    <!--===================================================-->
    <!--END MAIN NAVIGATION-->

    <!--ASIDE-->
    <!--===================================================-->
    <aside id="aside-container">
      <div id="aside">
        <div class="nano">
          <div class="nano-content">

            <!--Nav tabs-->
            <!--================================-->
            <ul class="nav nav-tabs nav-justified">
              <li class="active">
                <a href="#demo-asd-tab-1" data-toggle="tab">
                  <i class="ti-comments"></i>
                </a>
              </li>
              <li>
                <a href="#demo-asd-tab-2" data-toggle="tab">
                  <i class="ti-info-alt"></i>
                  Reports
                </a>
              </li>
              <li>
                <a href="#demo-asd-tab-3" data-toggle="tab">
                  <i class="ti-settings"></i>
                  Settings
                </a>
              </li>
            </ul>
            <!--================================-->
            <!--End nav tabs-->


            <!-- Tabs Content -->
            <!--================================-->
            <div class="tab-content">

              <!--First tab-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <div class="tab-pane fade in active" id="demo-asd-tab-1">
                <p class="pad-all text-lg">First tab</p>
                <div class="pad-hor">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                  sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                  ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
                  velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
                  et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
                  facilisi.
                </div>
              </div>
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <!--End first tab-->


              <!--Second tab-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <div class="tab-pane fade" id="demo-asd-tab-2">
                <p class="pad-all text-lg">Second tab</p>
                <div class="pad-hor">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                  sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                  ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
                  velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
                  et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
                  facilisi.
                </div>
              </div>
              <!--End second tab-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


              <!--Third tab-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <div class="tab-pane fade" id="demo-asd-tab-3">
                <p class="pad-all text-lg">Third tab</p>
                <div class="pad-hor">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                  sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                  ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
                  velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
                  et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
                  facilisi.
                </div>
              </div>
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

            </div>
          </div>
        </div>
      </div>
    </aside>
    <!--===================================================-->
    <!--END ASIDE-->

  </div>


  <!-- FOOTER -->
  <!--===================================================-->
  <footer id="footer">

    <!-- Visible when footer positions are fixed -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="show-fixed pull-right">
      You have <a href="#" class="text-bold text-main"><span class="label label-danger">3</span> pending action.</a>
    </div>


    <!-- Visible when footer positions are static -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="hide-fixed pull-right pad-rgt">
      14GB of <strong>512GB</strong> Free.
    </div>


    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Remove the class "show-fixed" and "hide-fixed" to make the content always appears. -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <p class="pad-lft">&#0169; 2016 Your Company</p>


  </footer>
  <!--===================================================-->
  <!-- END FOOTER -->


  <!-- SCROLL PAGE BUTTON -->
  <!--===================================================-->
  <button class="scroll-top btn">
    <i class="pci-chevron chevron-up"></i>
  </button>
  <!--===================================================-->


</div>